.Calculation {
  width: 100%;
  min-height: 100vh;
  padding-top: 12.4722vw;
  background-image: linear-gradient(to right, #b1feda, #81e0b3);
}

.CalculationInner {
  padding: 10px 12px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
}

@media (max-width: 800px) {
  .CalculationInner {
    width: 98%;
  }
}
