.Plan {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.users {
  margin-top: 3.47222222222vw;
  font-size: 0.875rem;
  margin-bottom: 0%;
}

.price {
  font-size: 2.25rem;
  margin-top: 0%;
  font-weight: 400;
  margin-bottom: 1.8vw;
}
